@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

footer {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Pretendard-Regular";
    color: #fff;
}

footer {
    padding: 40px 20px 40px 20px;
    background-color: #4d5359;
    font-size: 12px;
    height: 208px;
}

.footer_list {
    margin-bottom: 10px;
}

.footer_wrapper ul li {
    list-style: none;
}

.footer_list ul {
    display: flex;
}

.footer_list ul li:not(:nth-last-child(1)) {
    padding-right: 10px;
    border-right: 1px solid #fff;
}

.footer_list ul li:not(:nth-child(1)) {
    padding-left: 10px;
}

.footer_list_s {
    margin-bottom: 10px;
}

.footer_list_s ul {
    display: flex;
}

.footer_list_s ul li:not(:nth-last-child(1)) {
    padding-right: 10px;
    border-right: 1px solid #fff;
}

.footer_list_s ul li:not(:nth-child(1)) {
    padding-left: 10px;
}

.copyright {
    margin-bottom: 40px;
}

.footer_logo {
    display: flex;
    justify-content: flex-end;
}

.footer_logo img {
    width: 177px;
}

@media screen and (max-width: 420px) {
    .footer_list ul li:not(:nth-last-child(1)) {
        padding-right: 5px;
    }

    .footer_list ul li:not(:nth-child(1)) {
        padding-left: 5px;
    }

    .footer_list_s ul li:not(:nth-last-child(1)) {
        padding-right: 5px;
    }

    .footer_list_s ul li:not(:nth-child(1)) {
        padding-left: 5px;
    }
}

@media screen and (min-width: 1024px) {
    footer {
        padding: 40px 120px 60px 120px;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        height: 180px;
    }

    .footer_list {
        margin-bottom: 40px;
    }

    .footer_list ul li:not(:nth-last-child(1)) {
        padding-right: 20px;
    }

    .footer_list ul li:not(:nth-child(1)) {
        padding-left: 20px;
    }

    .footer_list_s {
        margin-bottom: 40px;
    }

    .footer_list_s ul li:not(:nth-last-child(1)) {
        padding-right: 20px;
    }

    .footer_list_s ul li:not(:nth-child(1)) {
        padding-left: 20px;
    }

    .copyright {
        margin-bottom: 0;
    }

    .footer_logo {
        display: block;
        align-self: flex-end;
    }

    .footer_logo img {
        width: 265px;
    }
}

@media screen and (min-width: 1920px) {
    footer {
        padding: 40px 237px 64px 361px;
        font-size: 16px;
        height: 241px;
    }
}