/* 세번째 컨텐츠 */
.content_third {
    margin-top: -110px;
    padding-top: 110px;
    color: #0d0d0d;
}

.title {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 28px;
}

.finance_img,
.home_img,
.unv_img,
.medi_img {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 35px;
}

.finance_img img,
.home_img img,
.unv_img img,
.medi_img img {
    width: 100%;
}

.finance_info,
.home_info,
.unv_info,
.medi_info {
    width: 95%;
    margin: 0 auto;
    padding-left: 20px;
}

.finance_title,
.home_title,
.unv_title,
.medi_title {
    display: flex;
}

.finance_icon img {
    width: 24px;
    object-fit: cover;
}

.home_icon img {
    width: 27px;
    object-fit: cover;
}

.unv_icon img {
    width: 24px;
    object-fit: cover;
}

.medi_icon img {
    width: 21px;
    object-fit: cover;
}

.finance_title_text,
.home_title_text,
.unv_title_text,
.medi_title_text {
    font-size: 24px;
    padding-left: 24px;
    padding-bottom: 20px;
}

.finance_info_detail,
.home_info_detail,
.unv_info_detail,
.medi_info_detail {
    display: flex;
}

.finance_num {
    font-size: 14px;
    color: #ff9213;
    width: 24px;
    text-align: center;
}

.home_num {
    font-size: 14px;
    color: #76c043;
    width: 27px;
    text-align: center;
}

.unv_num {
    font-size: 14px;
    color: #454ace;
    width: 24px;
    text-align: center;
}

.medi_num {
    font-size: 14px;
    color: #4279bc;
    width: 21px;
    text-align: center;
}

.finance_info_detail_text,
.home_info_detail_text,
.unv_info_detail_text,
.medi_info_detail_text {
    padding-left: 28px;
    padding-bottom: 20px;
}

.finance_btn,
.home_btn,
.unv_btn,
.medi_btn {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-bottom: 42px;
}

@media screen and (min-width: 501px) {
    .title {
        width: 85%;
        margin: 0 auto;
    }

    .finance_zip,
    .unv_zip {
        width: 85%;
        margin: 0 auto;
    }

    .home_zip,
    .medi_zip {
        width: 85%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 812px) {

    /* 세번째 컨텐츠 */
    .title {
        width: 85%;
        padding-bottom: 104px;
        font-size: 28px;
        font-weight: 700;
    }

    .home,
    .medi {
        background-color: #f2f2f2;
    }

    .finance_zip,
    .unv_zip {
        display: flex;
        width: 85%;
        margin: 0 auto;
    }

    .home_zip,
    .medi_zip {
        display: flex;
        flex-direction: row-reverse;
        width: 85%;
        margin: 0 auto;
    }

    .finance_img,
    .home_img,
    .unv_img,
    .medi_img {
        width: 50%;
        padding-bottom: 40px;
    }

    .home_img,
    .unv_img,
    .medi_img {
        padding-top: 40px;
    }

    .finance_info,
    .home_info,
    .unv_info,
    .medi_info {
        width: 50%;
        padding: 0 40px 40px 40px;
        height: auto;
        /* border: 1px solid pink; */
    }

    .home_info,
    .unv_info,
    .medi_info {
        padding-top: 40px;
    }

    .finance_title {
        /* border: 1px solid red; */
        width: 90%;
        height: 25%;
        margin: 0 auto;
    }

    .home_title {
        /* border: 1px solid red; */
        width: 100%;
        height: 25%;
        margin: 0 auto;
    }

    .unv_title {
        /* border: 1px solid red; */
        width: 87%;
        height: 25%;
        margin: 0 auto;
    }

    .medi_title {
        /* border: 1px solid red; */
        width: 79%;
        height: 25%;
        margin: 0 auto;
    }

    .medi_icon img {
        width: 29px;
    }

    .finance_title_text,
    .home_title_text,
    .unv_title_text,
    .medi_title_text {
        padding-left: 55px;
        font-size: 1.5em;
    }

    .finance_info_detail_zip {
        height: 75%;
        width: 90%;
        margin: 0 auto;
        /* border: 1px solid aqua; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .home_info_detail_zip {
        height: 75%;
        width: 100%;
        margin: 0 auto;
        /* border: 1px solid aqua; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .unv_info_detail_zip {
        height: 75%;
        width: 87%;
        margin: 0 auto;
        /* border: 1px solid aqua; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .medi_info_detail_zip {
        height: 75%;
        width: 79%;
        margin: 0 auto;
        /* border: 1px solid aqua; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .medi_num {
        width: 29px;
    }

    .finance_info_detail_text,
    .home_info_detail_text,
    .unv_info_detail_text,
    .medi_info_detail_text {
        padding-left: 60px;
        padding-bottom: 12px;
        font-size: 1rem;
    }

    .finance_btn,
    .home_btn,
    .unv_btn,
    .medi_btn {
        display: flex;
        justify-content: flex-end;
        padding-right: 0px;
        padding-bottom: 0px;
        /* border: 1px solid yellow; */
        align-self: self-end;
        width: 100%;
    }

    .finance_btn a,
    .home_btn a,
    .unv_btn a,
    .medi_btn a {
        width: 100%;
    }
}

@media screen and (min-width: 1025px) {
    .finance {
        /* border: 1px solid blue; */
        height: calc(100vh - 90px);
        /* padding-top: 90px; */
    }
    .finance_zip {
        display: flex;
        align-items: center;
        /* border: 1px solid #454ace; */
    }
    .home, .unv, .medi {
        height: calc(100vh - 90px);
        /* border: 1px solid #ff9213; */
        /* padding-top: 90px; */
        display: flex;
        align-items: center;
    }
    .content_third {
        padding-top: 90px;
        /* border: 1px solid black; */
        height: auto;
    }
    .title {
        width: 80%;
        margin: 0 auto;
        font-size: 48px;
    }

    .finance_zip,
    .unv_zip {
        width: 80%;
        margin: 0 auto;
    }

    .home_zip,
    .medi_zip {
        width: 80%;
        margin: 0 auto;
    }

}

@media screen and (min-width: 1043px) {

    /* 세번째 컨텐츠 */
    .title {
        font-size: 48px;
    }

    .finance_img,
    .home_img,
    .unv_img,
    .medi_img {
        padding-bottom: 40px;
    }

    .home_img,
    .unv_img,
    .medi_img {
        padding-top: 40px;
    }

    .finance_info,
    .home_info,
    .unv_info,
    .medi_info {
        padding: 0 40px 40px 40px;
    }

    .home_info,
    .unv_info,
    .medi_info {
        padding-top: 40px;
    }

    .finance_title {
        /* border: 1px solid red; */
        width: 87%;
        height: 20%;
        margin: 0 auto;
        font-weight: 600;
    }

    .home_title {
        /* border: 1px solid red; */
        width: 100%;
        height: 20%;
        margin: 0 auto;
        font-weight: 600;
    }

    .unv_title {
        /* border: 1px solid red; */
        width: 88%;
        height: 20%;
        margin: 0 auto;
        font-weight: 600;
    }

    .medi_title {
        /* border: 1px solid red; */
        width: 76%;
        height: 20%;
        margin: 0 auto;
        font-weight: 600;
    }

    .finance_title_text,
    .home_title_text,
    .unv_title_text,
    .medi_title_text {
        padding-bottom: 30px;
        font-size: 32px;
    }

    .finance_icon img {
        width: 32px;
    }

    .home_icon img {
        width: 36px;
    }

    .unv_icon img {
        width: 32px;
    }

    .medi_icon img {
        width: 32px;
    }

    .finance_num,
    .unv_num,
    .medi_num {
        width: 32px;
        font-size: 20px;
    }

    .home_num {
        width: 36px;
        font-size: 20px;
    }

    .finance_info_detail_zip {
        height: 80%;
        width: 86%;
        margin: 0 auto;
        /* border: 1px solid aqua; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .home_info_detail_zip {
        height: 80%;
        width: 100%;
        margin: 0 auto;
        /* border: 1px solid aqua; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .unv_info_detail_zip {
        height: 80%;
        width: 88%;
        margin: 0 auto;
        /* border: 1px solid aqua; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .medi_info_detail_zip {
        height: 80%;
        width: 76%;
        margin: 0 auto;
        /* border: 1px solid aqua; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .finance_info_detail_text,
    .home_info_detail_text,
    .unv_info_detail_text,
    .medi_info_detail_text {
        padding-bottom: 24px;
        font-size: 24px;
    }

    .finance_btn,
    .home_btn,
    .unv_btn,
    .medi_btn {
        display: flex;
        justify-content: flex-end;
        padding-right: 0px;
        padding-bottom: 0px;
        /* border: 1px solid yellow; */
        align-self: self-end;
        width: 100%;
    }

    .finance_btn a,
    .home_btn a,
    .unv_btn a,
    .medi_btn a {
        width: 100%;
    }
}

@media screen and (min-width: 1300px) {

    /* 세번째 컨텐츠 */
    .finance_title {
        /* border: 1px solid red; */
        width: 67%;
        height: 20%;
    }

    .home_title {
        /* border: 1px solid red; */
        width: 78%;
        height: 20%;
    }

    .unv_title {
        /* border: 1px solid red; */
        width: 68%;
        height: 20%;
    }

    .medi_title {
        /* border: 1px solid red; */
        width: 58%;
        height: 20%;
    }

    .finance_info_detail_zip {
        height: 80%;
        width: 67%;
        margin: 0 auto;
        /* border: 1px solid aqua; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .home_info_detail_zip {
        height: 80%;
        width: 78%;
        margin: 0 auto;
        /* border: 1px solid aqua; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .unv_info_detail_zip {
        height: 80%;
        width: 68%;
        margin: 0 auto;
        /* border: 1px solid aqua; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .medi_info_detail_zip {
        height: 80%;
        width: 58%;
        margin: 0 auto;
        /* border: 1px solid aqua; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1700px) {

    /* 세번째 컨텐츠 */
    .finance_title {
        /* border: 1px solid red; */
        width: 48%;
        height: 20%;
    }

    .home_title {
        /* border: 1px solid red; */
        width: 57%;
        height: 20%;
    }

    .unv_title {
        /* border: 1px solid red; */
        width: 49%;
        height: 20%;
    }

    .medi_title {
        /* border: 1px solid red; */
        width: 43%;
        height: 20%;
    }

    .finance_info_detail_zip {
        height: 80%;
        width: 48%;
        margin: 0 auto;
        /* border: 1px solid aqua; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .home_info_detail_zip {
        height: 80%;
        width: 57%;
        margin: 0 auto;
        /* border: 1px solid aqua; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .unv_info_detail_zip {
        height: 80%;
        width: 49%;
        margin: 0 auto;
        /* border: 1px solid aqua; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .medi_info_detail_zip {
        height: 80%;
        width: 43%;
        margin: 0 auto;
        /* border: 1px solid aqua; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1920px) {

    /* 세번째 컨텐츠 */
    .title {
        font-size: 48px;
    }

    .finance_img,
    .home_img,
    .unv_img,
    .medi_img {
        padding-bottom: 80px;
    }

    .home_img,
    .unv_img,
    .medi_img {
        padding-top: 80px;
    }

    .finance_info,
    .home_info,
    .unv_info,
    .medi_info {
        padding: 0 80px 80px 80px;
    }

    .home_info,
    .unv_info,
    .medi_info {
        padding-top: 80px;
    }

    .finance_title {
        /* border: 1px solid red; */
        width: 48%;
        height: 30%;
        margin: 0 auto;
        font-weight: 600;
    }

    .home_title {
        /* border: 1px solid red; */
        width: 56%;
        height: 30%;
        margin: 0 auto;
        font-weight: 600;
    }

    .unv_title {
        /* border: 1px solid red; */
        width: 49%;
        height: 30%;
        margin: 0 auto;
        font-weight: 600;
    }

    .medi_title {
        /* border: 1px solid red; */
        width: 42%;
        height: 30%;
        margin: 0 auto;
        font-weight: 600;
    }

    .finance_title_text,
    .home_title_text,
    .unv_title_text,
    .medi_title_text {
        padding-bottom: 75px;
        font-size: 32px;
    }

    .finance_icon img {
        width: 32px;
    }

    .home_icon img {
        width: 36px;
    }

    .unv_icon img {
        width: 32px;
    }

    .medi_icon img {
        width: 32px;
    }

    .finance_num,
    .unv_num,
    .medi_num {
        width: 32px;
        font-size: 20px;
    }

    .home_num {
        width: 36px;
        font-size: 20px;
    }

    .finance_info_detail_zip {
        height: 70%;
        width: 48%;
        margin: 0 auto;
        /* border: 1px solid aqua; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .home_info_detail_zip {
        height: 70%;
        width: 56%;
        margin: 0 auto;
        /* border: 1px solid aqua; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .unv_info_detail_zip {
        height: 70%;
        width: 49%;
        margin: 0 auto;
        /* border: 1px solid aqua; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .medi_info_detail_zip {
        height: 70%;
        width: 42%;
        margin: 0 auto;
        /* border: 1px solid aqua; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .finance_info_detail_text,
    .home_info_detail_text,
    .unv_info_detail_text,
    .medi_info_detail_text {
        padding-bottom: 24px;
        font-size: 24px;
    }

    .finance_btn,
    .home_btn,
    .unv_btn,
    .medi_btn {
        display: flex;
        justify-content: flex-end;
        padding-right: 0px;
        padding-bottom: 0px;
        /* border: 1px solid yellow; */
        align-self: self-end;
        width: 100%;
    }

    .finance_btn a,
    .home_btn a,
    .unv_btn a,
    .medi_btn a {
        width: 100%;
    }
}