@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
* {
  font-family: Pretendard;
}

body {
  margin: 0;
  min-width: 320px;
}

p {
  margin: 0;
}

a {
  color: black;
}

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}
@keyframes contact-motion {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
section.content_first {
  margin-top: -90px;
  padding-top: 90px;
}
section.content_first img {
  width: 100%;
}

section.first_carousel {
  height: calc(100vh - 90px);
  padding-top: 90px;
  font-family: Pretendard, sans-serif;
}
section.first_carousel .wrapper {
  width: 80%;
  margin: 0 auto;
}
section.first_carousel .main_text {
  padding-top: 0;
  font-size: 48px;
}
section.first_carousel {
  position: relative;
}
section.first_carousel > div.gray_section {
  position: absolute;
  top: 26%;
  width: 100%;
  height: 31.26vw;
  background: #ebefef;
  z-index: 0;
}
section.first_carousel .swiper {
  width: 100%;
  height: 100%;
}
section.first_carousel .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.first_carousel .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.first_carousel .first_swiper .text_box {
  box-sizing: content-box;
  width: 24.2786vw;
  height: 18.756vw;
  position: relative;
  left: 200px;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #ddd;
  padding: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
section.first_carousel .first_swiper .text_box .text_box_description {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
section.first_carousel .first_swiper .text_box .text_box_description > p.text_gold {
  color: #ff9213;
}
section.first_carousel .first_swiper .text_box .text_box_description > p.text_green {
  color: #76c043;
}
section.first_carousel .first_swiper .text_box .text_box_description > p.text_skyblue {
  color: #454ace;
}
section.first_carousel .first_swiper .text_box .text_box_description > p.text_navy {
  color: #00a9de;
}
section.first_carousel .first_swiper .text_box .text_box_description > p.text_purple {
  color: #d651b9;
}
section.first_carousel .first_swiper .text_box .text_box_description > p:nth-child(1) {
  font-size: 1.6672vw;
}
section.first_carousel .first_swiper .text_box .text_box_description p:nth-child(2) {
  font-size: 1.042vw;
  font-weight: 400;
  line-height: 1.8;
}
section.first_carousel .first_swiper .text_box .text_box_description a {
  width: 140px;
  height: 40px;
  align-self: flex-end;
}
section.first_carousel .first_swiper .text_box .text_box_description a p {
  font-size: 20px;
}
section.first_carousel .first_swiper img {
  width: 49.7555vw;
  height: 32.302vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
}
section.first_carousel .carousel_button {
  z-index: 10;
  position: absolute;
  bottom: 10.42vw;
  left: 9.378vw;
  display: inline-block;
}
section.first_carousel .carousel_button .button_gold.active {
  color: #ff9213;
  font-weight: bold;
}
section.first_carousel .carousel_button .button_gold.active svg {
  fill: #ff9213;
}
section.first_carousel .carousel_button .button_green.active {
  color: #76c043;
  font-weight: bold;
}
section.first_carousel .carousel_button .button_green.active svg {
  fill: #76c043;
}
section.first_carousel .carousel_button .button_skyblue.active {
  color: #454ace;
  font-weight: bold;
}
section.first_carousel .carousel_button .button_skyblue.active svg {
  fill: #454ace;
}
section.first_carousel .carousel_button .button_navy.active {
  color: #00a9de;
  font-weight: bold;
}
section.first_carousel .carousel_button .button_navy.active svg {
  fill: #00a9de;
}
section.first_carousel .carousel_button .button_purple.active {
  color: #d651b9;
  font-weight: bold;
}
section.first_carousel .carousel_button .button_purple.active svg {
  fill: #d651b9;
}
section.first_carousel .carousel_button .button_purple svg {
  height: 2.0319vw;
}
section.first_carousel .carousel_button .button {
  color: #b0b0b0;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
section.first_carousel .carousel_button .button > p {
  margin-bottom: 1.563vw;
  font-size: 20px;
}
section.first_carousel .carousel_button svg {
  fill: #b0b0b0;
  margin-bottom: 0.521vw;
  height: 1.9277vw;
}
section.first_carousel .swiper-pagination {
  display: none;
}

section a {
  box-sizing: content-box;
  font-size: 14px;
  width: 140px;
  height: 40px;
}
section a.gold.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  border: 2px solid #ff9213;
  font-size: 24px;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}
section a.gold.button:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}
section a.gold.button:hover {
  background-color: #ff9213;
  color: #fff;
  border-bottom: 4px solid #df7800;
}
section a.gold.button:hover:before {
  transform: skewX(-45deg) translateX(13.5em);
  transition: all 0.5s ease-in-out;
}
section a.green.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  border: 2px solid #76c043;
  font-size: 24px;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}
section a.green.button:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}
section a.green.button:hover {
  background-color: #76c043;
  color: #fff;
  border-bottom: 4px solid #5e9c34;
}
section a.green.button:hover:before {
  transform: skewX(-45deg) translateX(13.5em);
  transition: all 0.5s ease-in-out;
}
section a.skyblue.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  border: 2px solid #00a9de;
  font-size: 24px;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}
section a.skyblue.button:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}
section a.skyblue.button:hover {
  background-color: #00a9de;
  color: #fff;
  border-bottom: 4px solid #0082ab;
}
section a.skyblue.button:hover:before {
  transform: skewX(-45deg) translateX(13.5em);
  transition: all 0.5s ease-in-out;
}
section a.navy.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  border: 2px solid #454ace;
  font-size: 24px;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}
section a.navy.button:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}
section a.navy.button:hover {
  background-color: #454ace;
  color: #fff;
  border-bottom: 4px solid #2f33b1;
}
section a.navy.button:hover:before {
  transform: skewX(-45deg) translateX(13.5em);
  transition: all 0.5s ease-in-out;
}
section a.purple.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  border: 2px solid #d651b9;
  font-size: 24px;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}
section a.purple.button:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}
section a.purple.button:hover {
  background-color: #d651b9;
  color: #fff;
  border-bottom: 4px solid #c52fa5;
}
section a.purple.button:hover:before {
  transform: skewX(-45deg) translateX(13.5em);
  transition: all 0.5s ease-in-out;
}
section a p {
  font-size: 20px;
}

div.contact .wrap {
  text-align: center;
  margin-top: 5px;
  position: fixed;
  right: 1.4067vw;
  bottom: 4.168vw;
  z-index: 100;
}
div.contact .chatbox {
  animation: contact-motion 0.8s linear 0s infinite alternate;
  margin-top: 0;
  width: 170px;
  cursor: pointer;
}

/* 페이지 top 부분 */
#top_btn {
  z-index: 100;
  width: 50px;
  height: 50px;
  position: fixed;
  transform: rotate(270deg);
  right: 0vw;
  bottom: 0.521vw; /* 위치를 절대값으로 고정 */
  text-align: center;
  line-height: 3.1;
  font-size: 18px;
  border-radius: 50%; /* 모서리가 둥근 사각형, 박스 테두리 지정 */
}
#top_btn a {
  color: #999;
}

section.contact_form {
  box-sizing: border-box;
  width: 100%;
  height: 945px;
  position: relative;
}
section.contact_form .blue_area {
  box-sizing: border-box;
  position: absolute;
  top: 196px;
  width: 100%;
  height: 560px;
  background-color: #4279bc;
  padding-left: 9.378vw;
  padding-top: 2.9176vw;
  color: #fff;
}
section.contact_form .blue_area > p:nth-child(1) {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}
section.contact_form .blue_area > p:nth-child(2) {
  margin-top: 37px;
  font-size: 32px;
  font-weight: 400;
}
section.contact_form .blue_area > p:nth-child(2) span {
  font-size: 40px;
  font-weight: 700;
}
section.contact_form .blue_area > p:nth-child(3) {
  margin-top: 33px;
  font-size: 20px;
  font-weight: 400;
}
section.contact_form .blue_area .contact_number {
  display: flex;
  margin-top: 154px;
}
section.contact_form .blue_area .contact_number div:nth-child(1) {
  display: flex;
  align-items: center;
}
section.contact_form .blue_area .contact_number div:nth-child(1) img {
  margin-right: 14px;
}
section.contact_form .blue_area .contact_number div:nth-child(1) p {
  font-size: 20px;
  font-weight: 400;
  margin-right: 20px;
}
section.contact_form .blue_area .contact_number div:nth-child(2) {
  border-left: 1px solid #fff;
  padding-left: 20px;
}
section.contact_form .blue_area .contact_number div:nth-child(2) p:nth-child(1) {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 12px;
}
section.contact_form .blue_area .contact_number div:nth-child(2) p:nth-child(2) {
  font-size: 20px;
  font-weight: 400;
}
section.contact_form .form_area {
  position: absolute;
  right: 17.714vw;
  top: 116px;
  width: 460px;
  height: 767px;
  border-radius: 5px;
  background: var(--Main_Gray, #4d5359);
}
section.contact_form .form_area form {
  padding: 48px 30px 48px 30px;
  display: flex;
  flex-direction: column;
  color: #fff;
}
section.contact_form .form_area form button,
section.contact_form .form_area form label {
  cursor: pointer;
}
section.contact_form .form_area form p {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}
section.contact_form .form_area form input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
}
section.contact_form .form_area form input:focus-visible {
  outline: none;
}
section.contact_form .form_area form .inqurey_btn button:hover,
section.contact_form .form_area form .inqurey_btn button.checked {
  background-color: #76c043;
  color: #fff;
  font-weight: 700;
}
section.contact_form .form_area form textarea.contact_info {
  height: 160px;
  margin-bottom: 20px;
  padding: 20px;
}
section.contact_form .form_area form textarea.contact_info:focus-visible {
  outline: none;
}
section.contact_form .form_area form input#agreeCheckbox {
  width: auto;
}
section.contact_form .form_area form a {
  color: #fff;
  align-self: flex-end;
  width: auto;
  margin-bottom: 30px;
  height: auto;
}
section.contact_form .form_area form .submit {
  width: 100%;
  background-color: #fff;
  color: black;
  border: none;
  outline: none;
}
section.contact_form .form_area form .submit:hover {
  background-color: #76c043;
  color: #fff;
  font-weight: 700;
}

@media (max-width: 1024px) {
  section.content_first img {
    width: 100%;
    content: url("../img/main_tablet.jpg");
  }
  section.first_carousel {
    height: 600px;
  }
  section.first_carousel .wrapper {
    width: 85%;
    margin: 0 auto;
  }
  section.first_carousel .main_text {
    font-size: 28px;
  }
  section.first_carousel.first_carousel > div.gray_section {
    height: 400px;
  }
  section.first_carousel.first_carousel .first_swiper .text_box {
    max-width: 31.264vw;
    min-height: 240px;
    left: 120px;
    padding: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description > p:nth-child(1) {
    font-size: 24px;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description p:nth-child(2) {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.8;
    max-height: 150px;
    overflow: hidden;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a {
    width: 100px;
    height: 28px;
    align-self: flex-end;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.gold.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    border: 2px solid #ff9213;
    font-size: 24px;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.gold.button:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.gold.button:hover {
    background-color: #ff9213;
    color: #fff;
    border-bottom: 4px solid #df7800;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.gold.button:hover:before {
    transform: skewX(-45deg) translateX(13.5em);
    transition: all 0.5s ease-in-out;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.green.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    border: 2px solid #76c043;
    font-size: 24px;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.green.button:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.green.button:hover {
    background-color: #76c043;
    color: #fff;
    border-bottom: 4px solid #5e9c34;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.green.button:hover:before {
    transform: skewX(-45deg) translateX(13.5em);
    transition: all 0.5s ease-in-out;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.skyblue.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    border: 2px solid #454ace;
    font-size: 24px;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.skyblue.button:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.skyblue.button:hover {
    background-color: #454ace;
    color: #fff;
    border-bottom: 4px solid #2f33b1;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.skyblue.button:hover:before {
    transform: skewX(-45deg) translateX(13.5em);
    transition: all 0.5s ease-in-out;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.navy.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    border: 2px solid #00a9de;
    font-size: 24px;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.navy.button:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.navy.button:hover {
    background-color: #00a9de;
    color: #fff;
    border-bottom: 4px solid #0082ab;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.navy.button:hover:before {
    transform: skewX(-45deg) translateX(13.5em);
    transition: all 0.5s ease-in-out;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.purple.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    border: 2px solid #d651b9;
    font-size: 24px;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.purple.button:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.purple.button:hover {
    background-color: #d651b9;
    color: #fff;
    border-bottom: 4px solid #c52fa5;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.purple.button:hover:before {
    transform: skewX(-45deg) translateX(13.5em);
    transition: all 0.5s ease-in-out;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a p {
    font-size: 14px;
  }
  section.first_carousel.first_carousel .first_swiper img {
    width: 41.034vw;
    height: 366px;
  }
  section.first_carousel .carousel_button {
    bottom: 100px;
    left: 70px;
  }
  section.first_carousel .carousel_button .button_purple svg {
    height: 30px;
  }
  section.first_carousel .carousel_button .button > p {
    font-size: 14px;
  }
  section.first_carousel .carousel_button svg {
    margin-bottom: 0.977vw;
    height: 28px;
  }
  section a {
    box-sizing: content-box;
    font-size: 14px;
    width: 100px;
    height: 28px;
  }
  section.contact_form .blue_area {
    box-sizing: border-box;
    position: absolute;
    top: 196px;
    width: 100%;
    height: 560px;
    background-color: #4279bc;
    padding-left: 80px;
    padding-top: 40px;
    color: #fff;
  }
  section.contact_form .blue_area > p:nth-child(1) {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
  }
  section.contact_form .blue_area > p:nth-child(2) {
    margin-top: 37px;
    font-size: 20px;
    font-weight: 400;
  }
  section.contact_form .blue_area > p:nth-child(2) span {
    font-size: 24px;
    font-weight: 700;
  }
  section.contact_form .blue_area > p:nth-child(3) {
    margin-top: 33px;
    font-size: 14px;
    font-weight: 400;
  }
  section.contact_form .blue_area .contact_number {
    display: flex;
    margin-top: 67px;
  }
  section.contact_form .blue_area .contact_number div:nth-child(1) {
    display: flex;
    align-items: center;
  }
  section.contact_form .blue_area .contact_number div:nth-child(1) img {
    margin-right: 14px;
    width: 19px;
    height: 19px;
  }
  section.contact_form .blue_area .contact_number div:nth-child(1) p {
    font-size: 14px;
    font-weight: 400;
    margin-right: 15px;
  }
  section.contact_form .blue_area .contact_number div:nth-child(2) {
    border-left: 1px solid #fff;
    padding-left: 16px;
  }
  section.contact_form .blue_area .contact_number div:nth-child(2) p:nth-child(1) {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 12px;
  }
  section.contact_form .blue_area .contact_number div:nth-child(2) p:nth-child(2) {
    font-size: 14px;
    font-weight: 400;
  }
  section.contact_form .form_area {
    right: 7.816vw;
  }
}
@media (max-width: 866px) {
  section.contact_form {
    display: flex;
    justify-content: center;
  }
  section.contact_form .blue_area {
    width: 95%;
    box-sizing: border-box;
    position: absolute;
    background-color: #4279bc;
    padding-left: 0;
    color: #fff;
  }
  section.contact_form .blue_area > p:nth-child(1) {
    display: none;
  }
  section.contact_form .blue_area > p:nth-child(2) {
    display: none;
  }
  section.contact_form .blue_area > p:nth-child(2) span {
    display: none;
  }
  section.contact_form .blue_area > p:nth-child(3) {
    display: none;
  }
  section.contact_form .blue_area .contact_number {
    display: none;
  }
  section.contact_form .form_area {
    position: relative;
    right: 0;
  }
}
@media (max-width: 500px) {
  section.first_carousel .wrapper {
    width: 95%;
    margin: 0 auto;
  }
  section.first_carousel .carousel_button {
    margin-top: 20px;
    display: flex;
    gap: 4.1868vw;
    position: relative;
    bottom: auto;
    left: auto;
    justify-content: center;
  }
  section.first_carousel.first_carousel > div.gray_section {
    display: none;
  }
  section.first_carousel.first_carousel .first_swiper .text_box {
    width: 40%;
    left: 50px;
  }
  div.contact .wrap {
    right: 28px;
    bottom: 50px;
  }
  div.contact .chatbox {
    width: 120px;
  }
  #top_btn {
    display: none;
  }
}
@media (max-width: 430px) {
  section.content_first img {
    width: 100%;
    content: url("../img/main_mobile.jpg");
  }
  section.content_third {
    padding-top: 160px;
  }
  section.first_carousel.first_carousel {
    height: 1000px;
    position: relative;
  }
  section.first_carousel.first_carousel .swiper-slide {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  section.first_carousel.first_carousel .main_text {
    font-size: 28px;
    margin-bottom: 4.652vw;
  }
  section.first_carousel.first_carousel .first_swiper img {
    width: 90.714vw;
    height: 120.952vw;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 40px;
  }
  section.first_carousel.first_carousel .first_swiper .text_box {
    box-sizing: border-box;
    width: 88%;
    max-width: none;
    height: 420px;
    left: 20px;
    bottom: 140px;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description > p:nth-child(1) {
    font-size: 24px;
    margin-bottom: 20px;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description p:nth-child(2) {
    font-size: 16px;
    line-height: 1.8;
    max-height: none;
  }
  section.first_carousel .carousel_button {
    margin-top: 0;
    display: flex;
    gap: 4.1868vw;
    position: relative;
    bottom: 100px;
    left: auto;
    justify-content: center;
  }
  section.contact_form form .inqurey_btn button {
    width: 60px;
  }
}