@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
* {
  font-family: Pretendard;
}

body {
  margin: 0;
  padding-top: 100px;
}

p {
  margin: 0;
}

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}
@keyframes contact-motion {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
section.first_carousel {
  font-family: Pretendard, sans-serif;
  height: 45.327vw;
}
section.first_carousel .wrapper {
  width: 80%;
  margin: 0 auto;
}
section.first_carousel .main_text {
  padding-top: 0;
  font-size: 2.5008vw;
}
section.first_carousel {
  position: relative;
}
section.first_carousel > div.gray_section {
  position: absolute;
  top: 26%;
  width: 100%;
  height: 31.26vw;
  background: #ebefef;
  z-index: 0;
}
section.first_carousel .swiper {
  width: 100%;
  height: 100%;
}
section.first_carousel .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.first_carousel .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.first_carousel .first_swiper .text_box {
  box-sizing: content-box;
  width: 24.2786vw;
  height: 18.756vw;
  position: relative;
  left: 200px;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #ddd;
  padding: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
section.first_carousel .first_swiper .text_box .text_box_description {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
section.first_carousel .first_swiper .text_box .text_box_description > p.text_gold {
  color: #ff9213;
}
section.first_carousel .first_swiper .text_box .text_box_description > p.text_green {
  color: #76c043;
}
section.first_carousel .first_swiper .text_box .text_box_description > p.text_skyblue {
  color: #454ace;
}
section.first_carousel .first_swiper .text_box .text_box_description > p.text_navy {
  color: #00a9de;
}
section.first_carousel .first_swiper .text_box .text_box_description > p.text_purple {
  color: #d651b9;
}
section.first_carousel .first_swiper .text_box .text_box_description > p:nth-child(1) {
  font-size: 1.6672vw;
}
section.first_carousel .first_swiper .text_box .text_box_description p:nth-child(2) {
  font-size: 1.042vw;
  font-weight: 400;
  line-height: 1.8;
}
section.first_carousel .first_swiper .text_box .text_box_description a {
  width: 7.294vw;
  height: 2.084vw;
  align-self: flex-end;
}
section.first_carousel .first_swiper .text_box .text_box_description a.gold.button {
  width: 7.294vw;
  height: 2.084vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  border: 2px solid #ff9213;
  font-size: 24px;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}
section.first_carousel .first_swiper .text_box .text_box_description a.gold.button:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}
section.first_carousel .first_swiper .text_box .text_box_description a.gold.button:hover {
  background-color: #ff9213;
  color: #fff;
  border-bottom: 4px solid #df7800;
}
section.first_carousel .first_swiper .text_box .text_box_description a.gold.button:hover:before {
  transform: skewX(-45deg) translateX(13.5em);
  transition: all 0.5s ease-in-out;
}
section.first_carousel .first_swiper .text_box .text_box_description a.green.button {
  width: 7.294vw;
  height: 2.084vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  border: 2px solid #76c043;
  font-size: 24px;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}
section.first_carousel .first_swiper .text_box .text_box_description a.green.button:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}
section.first_carousel .first_swiper .text_box .text_box_description a.green.button:hover {
  background-color: #76c043;
  color: #fff;
  border-bottom: 4px solid #5e9c34;
}
section.first_carousel .first_swiper .text_box .text_box_description a.green.button:hover:before {
  transform: skewX(-45deg) translateX(13.5em);
  transition: all 0.5s ease-in-out;
}
section.first_carousel .first_swiper .text_box .text_box_description a.skyblue.button {
  width: 7.294vw;
  height: 2.084vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  border: 2px solid #454ace;
  font-size: 24px;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}
section.first_carousel .first_swiper .text_box .text_box_description a.skyblue.button:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}
section.first_carousel .first_swiper .text_box .text_box_description a.skyblue.button:hover {
  background-color: #454ace;
  color: #fff;
  border-bottom: 4px solid #2f33b1;
}
section.first_carousel .first_swiper .text_box .text_box_description a.skyblue.button:hover:before {
  transform: skewX(-45deg) translateX(13.5em);
  transition: all 0.5s ease-in-out;
}
section.first_carousel .first_swiper .text_box .text_box_description a.navy.button {
  width: 7.294vw;
  height: 2.084vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  border: 2px solid #00a9de;
  font-size: 24px;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}
section.first_carousel .first_swiper .text_box .text_box_description a.navy.button:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}
section.first_carousel .first_swiper .text_box .text_box_description a.navy.button:hover {
  background-color: #00a9de;
  color: #fff;
  border-bottom: 4px solid #0082ab;
}
section.first_carousel .first_swiper .text_box .text_box_description a.navy.button:hover:before {
  transform: skewX(-45deg) translateX(13.5em);
  transition: all 0.5s ease-in-out;
}
section.first_carousel .first_swiper .text_box .text_box_description a.purple.button {
  width: 7.294vw;
  height: 2.084vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  border: 2px solid #d651b9;
  font-size: 24px;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}
section.first_carousel .first_swiper .text_box .text_box_description a.purple.button:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}
section.first_carousel .first_swiper .text_box .text_box_description a.purple.button:hover {
  background-color: #d651b9;
  color: #fff;
  border-bottom: 4px solid #c52fa5;
}
section.first_carousel .first_swiper .text_box .text_box_description a.purple.button:hover:before {
  transform: skewX(-45deg) translateX(13.5em);
  transition: all 0.5s ease-in-out;
}
section.first_carousel .first_swiper .text_box .text_box_description a p {
  font-size: 1.042vw;
}
section.first_carousel .first_swiper img {
  width: 49.7555vw;
  height: 32.302vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
}
section.first_carousel .carousel_button {
  z-index: 10;
  position: absolute;
  bottom: 5.21vw;
  left: 9.378vw;
  display: inline-block;
}
section.first_carousel .carousel_button .button_gold.active {
  color: #ff9213;
  font-weight: bold;
}
section.first_carousel .carousel_button .button_gold.active svg {
  fill: #ff9213;
}
section.first_carousel .carousel_button .button_green.active {
  color: #76c043;
  font-weight: bold;
}
section.first_carousel .carousel_button .button_green.active svg {
  fill: #76c043;
}
section.first_carousel .carousel_button .button_skyblue.active {
  color: #454ace;
  font-weight: bold;
}
section.first_carousel .carousel_button .button_skyblue.active svg {
  fill: #454ace;
}
section.first_carousel .carousel_button .button_navy.active {
  color: #00a9de;
  font-weight: bold;
}
section.first_carousel .carousel_button .button_navy.active svg {
  fill: #00a9de;
}
section.first_carousel .carousel_button .button_purple.active {
  color: #d651b9;
  font-weight: bold;
}
section.first_carousel .carousel_button .button_purple.active svg {
  fill: #d651b9;
}
section.first_carousel .carousel_button .button_purple svg {
  height: 2.0319vw;
}
section.first_carousel .carousel_button .button {
  color: #b0b0b0;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
section.first_carousel .carousel_button .button > p {
  margin-bottom: 1.563vw;
  font-size: 0.8336vw;
}
section.first_carousel .carousel_button svg {
  fill: #b0b0b0;
  margin-bottom: 0.521vw;
  height: 1.9277vw;
}
section.first_carousel .swiper-pagination {
  display: none;
}

div.contact .wrap {
  text-align: center;
  margin-top: 5px;
  position: fixed;
  right: 1.4588vw;
  bottom: 4.168vw;
}
div.contact .chatbox {
  animation: contact-motion 0.8s linear 0s infinite alternate;
  margin-top: 0;
  width: 8.857vw;
  cursor: pointer;
}

@media (max-width: 1024px) {
  section.first_carousel {
    height: 500px;
  }
  section.first_carousel .wrapper {
    width: 85%;
    margin: 0 auto;
  }
  section.first_carousel .main_text {
    font-size: 3.908vw;
  }
  section.first_carousel.first_carousel > div.gray_section {
    height: 400px;
  }
  section.first_carousel.first_carousel .first_swiper .text_box {
    min-width: 31.264vw;
    min-height: 240px;
    left: 200px;
    padding: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description > p:nth-child(1) {
    font-size: 24px;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description p:nth-child(2) {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.8;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a {
    width: 9.77vw;
    height: 2.7356vw;
    align-self: flex-end;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.gold.button {
    width: 100px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    border: 2px solid #ff9213;
    font-size: 24px;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.gold.button:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.gold.button:hover {
    background-color: #ff9213;
    color: #fff;
    border-bottom: 4px solid #df7800;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.gold.button:hover:before {
    transform: skewX(-45deg) translateX(13.5em);
    transition: all 0.5s ease-in-out;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.green.button {
    width: 100px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    border: 2px solid #76c043;
    font-size: 24px;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.green.button:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.green.button:hover {
    background-color: #76c043;
    color: #fff;
    border-bottom: 4px solid #5e9c34;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.green.button:hover:before {
    transform: skewX(-45deg) translateX(13.5em);
    transition: all 0.5s ease-in-out;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.skyblue.button {
    width: 100px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    border: 2px solid #454ace;
    font-size: 24px;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.skyblue.button:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.skyblue.button:hover {
    background-color: #454ace;
    color: #fff;
    border-bottom: 4px solid #2f33b1;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.skyblue.button:hover:before {
    transform: skewX(-45deg) translateX(13.5em);
    transition: all 0.5s ease-in-out;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.navy.button {
    width: 100px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    border: 2px solid #00a9de;
    font-size: 24px;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.navy.button:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.navy.button:hover {
    background-color: #00a9de;
    color: #fff;
    border-bottom: 4px solid #0082ab;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.navy.button:hover:before {
    transform: skewX(-45deg) translateX(13.5em);
    transition: all 0.5s ease-in-out;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.purple.button {
    width: 100px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    border: 2px solid #d651b9;
    font-size: 24px;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.purple.button:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.purple.button:hover {
    background-color: #d651b9;
    color: #fff;
    border-bottom: 4px solid #c52fa5;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a.purple.button:hover:before {
    transform: skewX(-45deg) translateX(13.5em);
    transition: all 0.5s ease-in-out;
  }
  section.first_carousel.first_carousel .first_swiper .text_box .text_box_description a p {
    font-size: 14px;
  }
  section.first_carousel.first_carousel .first_swiper img {
    width: 58.62vw;
    height: 366px;
  }
  section.first_carousel .carousel_button {
    bottom: 0;
    left: 70px;
  }
  section.first_carousel .carousel_button .button_purple svg {
    height: 30px;
  }
  section.first_carousel .carousel_button .button > p {
    font-size: 14px;
  }
  section.first_carousel .carousel_button svg {
    margin-bottom: 0.977vw;
    height: 28px;
  }
}