.name {
  width: 324px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  background: #fff;
  padding-left: 14px;
}

.name::placeholder {
  color: #cbcbcb;
  font-size: 14px;
  font-weight: 500;
  font-family: Pretendard;
}

.call {
  width: 324px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  background: #fff;
  padding-left: 14px;
}

.call::placeholder {
  color: #cbcbcb;
  font-size: 14px;
  font-weight: 500;
  font-family: Pretendard;
}

.email {
  width: 324px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  background: #fff;
  padding-left: 14px;
}

.email::placeholder {
  color: #cbcbcb;
  font-size: 14px;
  font-weight: 500;
  font-family: Pretendard;
}

.inqurey_text input {
  padding: 12px 14px;
}

.inqurey_text input::placeholder {
  color: #cbcbcb;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.inqurey_btn {
  display: flex;
  justify-content: space-between;
}

.inqurey_btn button {
  width: 72px;
  height: 38px;
  margin-bottom: 23px;
  font-family: Pretendard;
  border-radius: 5px;
  border: none;
  background: #fff;
}

.submit {
  width: 324px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  background: #f2f2f2;
  font-family: Pretendard;
  font-size: 20px;
}