$my-font: Pretendard, sans-serif;

$size-1920-1px: 0.0521vw;
$size-1920-top: 0.14vh;
$size-1024-1px: 0.0977vw;
$size-430-1px: 0.2326vw;

$Main_1: #ff9213;
$Main_2: #76c043;
$Main_3: #00a9de;
$Main_4: #454ace;
$Main_5: #d651b9;

$Main_blue: #4279bc;
