$my-font: Pretendard, sans-serif;

$size-1920-1px: 0.0521vw;
$size-768-1px: 0.1302vw;
$size-430-1px: 0.2326vw;

$Main_1: #ff9213;
$Main_2: #76c043;
$Main_3: #00a9de;
$Main_4: #454ace;
$Main_5: #8700da;
