@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/base";
@import "base/fonts";

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}

@keyframes contact-motion {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

section.content_first {
  margin-top: -90px;
  padding-top: 90px;
  img {
    width: 100%;
  }
}

section.first_carousel {
  margin-top: -10px;
  padding-top: 10px;
  font-family: $my-font;
  height: 870 * $size-1920-1px;

  .wrapper {
    width: 80%;
    margin: 0 auto;
  }

  .main_text {
    padding-top: 0;
    font-size: 48px;
    margin-top: 100px;
  }

  & {
    position: relative;

    > div.gray_section {
      position: absolute;
      top: 26%;
      width: 100%;
      height: 600 * $size-1920-1px;
      background: #ebefef;
      z-index: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .first_swiper .text_box {
      box-sizing: content-box;

      width: 466 * $size-1920-1px;
      height: 360 * $size-1920-1px;
      position: relative;
      left: 200px;
      background-color: #fff;

      border-radius: 20px;
      border: 1px solid #ddd;
      padding: 40px;

      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);

      .text_box_description {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;

        > p.text_gold {
          color: $Main_1;
        }
        > p.text_green {
          color: $Main_2;
        }
        > p.text_skyblue {
          color: $Main_4;
        }
        > p.text_navy {
          color: $Main_3;
        }
        > p.text_purple {
          color: $Main_5;
        }

        > p:nth-child(1) {
          font-size: 32 * $size-1920-1px;
        }

        p:nth-child(2) {
          font-size: 20 * $size-1920-1px;
          font-weight: 400;
          line-height: 1.8;
        }
        a {
          width: 140px;
          height: 40px;
          align-self: flex-end;

          p {
            font-size: 20px;
          }
        }
      }
    }

    .first_swiper img {
      width: 955 * $size-1920-1px;
      height: 620 * $size-1920-1px;
      object-fit: cover;
      border-radius: 40px;
    }
  }

  .carousel_button {
    z-index: 10;
    position: absolute;
    bottom: 100 * $size-1920-1px;
    left: 180 * $size-1920-1px;
    display: inline-block;

    .button_gold.active {
      @include set-carousel-button-color($Main_1);
    }
    .button_green.active {
      @include set-carousel-button-color($Main_2);
    }
    .button_skyblue.active {
      @include set-carousel-button-color($Main_4);
    }
    .button_navy.active {
      @include set-carousel-button-color($Main_3);
    }
    .button_purple.active {
      @include set-carousel-button-color($Main_5);
    }
    .button_purple {
      svg {
        height: 39 * $size-1920-1px;
      }
    }

    .button {
      color: #b0b0b0;
      display: flex;
      flex-direction: column;
      align-items: center;

      cursor: pointer;

      > p {
        margin-bottom: 30 * $size-1920-1px;
        font-size: 20px;
      }
    }

    svg {
      fill: #b0b0b0;
      margin-bottom: 10 * $size-1920-1px;
      height: 37 * $size-1920-1px;
    }
  }
  .swiper-pagination {
    display: none;
  }
}

section a {
  box-sizing: content-box;
  font-size: 14px;
  width: 140px;
  height: 40px;
  &.gold {
    @include set-button-color($Main_1);
  }

  &.green {
    @include set-button-color($Main_2);
  }

  &.skyblue {
    @include set-button-color($Main_3);
  }

  &.navy {
    @include set-button-color($Main_4);
  }

  &.purple {
    @include set-button-color($Main_5);
  }
  p {
    font-size: 20px;
  }
}

div.contact {
  .wrap {
    text-align: center;
    margin-top: 5px;

    position: fixed;
    right: 27 * $size-1920-1px;
    bottom: 80 * $size-1920-1px;
    z-index: 100;
  }
  .chatbox {
    animation: contact-motion 0.8s linear 0s infinite alternate;
    margin-top: 0;

    width: 170px;
    cursor: pointer;
  }
}

/* 페이지 top 부분 */
#top_btn {
  width: 50px;
  height: 50px;
  position: fixed;
  background-color: $Main_2;
  right: 79 * $size-1920-1px;
  bottom: 30 * $size-1920-1px; /* 위치를 절대값으로 고정 */
  text-align: center;
  line-height: 3.1;
  border-radius: 50%; /* 모서리가 둥근 사각형, 박스 테두리 지정 */
  animation: contact-motion 0.8s linear 0s infinite alternate;
  a {
    text-decoration: none;
    color: #fff;
  }
}

section.contact_form {
  box-sizing: border-box;
  width: 100%;
  height: 945px;
  position: relative;
  .blue_area {
    box-sizing: border-box;
    position: absolute;
    top: 196px;
    width: 100%;
    height: 560px;
    background-color: $Main_blue;
    padding-left: 237 * $size-1920-1px;
    padding-top: 56 * $size-1920-1px;
    color: #fff;

    > p:nth-child(1) {
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
    }
    > p:nth-child(2) {
      margin-top: 37px;
      font-size: 32px;
      font-weight: 400;
      span {
        font-size: 40px;
        font-weight: 700;
      }
    }
    > p:nth-child(3) {
      margin-top: 33px;
      font-size: 20px;
      font-weight: 400;
    }
    .contact_number {
      display: flex;
      margin-top: 154px;
      div:nth-child(1) {
        display: flex;
        align-items: center;
        img {
          margin-right: 14px;
        }
        p {
          font-size: 24px;
          font-weight: 400;
          margin-right: 20px;
        }
      }
      div:nth-child(2) {
        border-left: 1px solid #fff;
        padding-left: 20px;
        p:nth-child(1) {
          font-size: 24px;
          font-weight: 400;
          margin-bottom: 12px;
        }
        p:nth-child(2) {
          font-size: 24px;
          font-weight: 400;
        }
      }
    }
  }
  .form_area {
    position: absolute;
    right: 364px;
    top: 116px;
    width: 460px;
    height: 767px;
    border-radius: 5px;
    background: var(--Main_Gray, #4d5359);
    form {
      padding: 48px 30px 48px 30px;
      display: flex;
      flex-direction: column;
      color: #fff;
      p {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 16px;
      }
      input {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 25px;
        &:focus-visible {
          outline: none;
        }
      }
      .inqurey_btn button:hover,
      .inqurey_btn button.checked {
        background-color: $Main_2;
        color: #fff;
        font-weight: 700;
      }
      input.contact_info {
        height: 160px;
      }
      input#agreeCheckbox {
        width: auto;
      }
      a {
        color: #fff;
        align-self: flex-end;
        width: auto;
        margin-bottom: 30px;
        height: auto;
      }
      .submit {
        width: 100%;
        background-color: #fff;
        color: black;
        border: none;
        outline: none;
        &:hover {
          background-color: $Main_2;
          color: #fff;
          font-weight: 700;
        }
      }
    }
  }
}

@include tablet {
  section.content_first {
    img {
      width: 100%;
      content: url("../img/main_tablet.jpg");
    }
  }

  section.first_carousel {
    height: 600px;

    .wrapper {
      width: 85%;
      margin: 0 auto;
    }
    .main_text {
      font-size: 28px;
    }
    &.first_carousel {
      > div.gray_section {
        height: 400px;
      }
      .first_swiper .text_box {
        max-width: 320 * $size-1024-1px;
        min-height: 240px;
        left: 120px;
        padding: 40px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);

        .text_box_description {
          > p:nth-child(1) {
            font-size: 24px;
          }

          p:nth-child(2) {
            font-size: 12px;
            font-weight: 400;
            line-height: 1.8;
            max-height: 150px;
            overflow: hidden;
          }
          a {
            width: 100px;
            height: 28px;
            align-self: flex-end;
            &.gold {
              @include set-button-color($Main_1);
            }

            &.green {
              @include set-button-color($Main_2);
            }

            &.skyblue {
              @include set-button-color($Main_4);
            }

            &.navy {
              @include set-button-color($Main_3);
            }

            &.purple {
              @include set-button-color($Main_5);
            }

            p {
              font-size: 14px;
            }
          }
        }
      }
      .first_swiper img {
        width: 420 * $size-1024-1px;
        height: 366px;
      }
    }
    .carousel_button {
      bottom: 100px;
      left: 70px;
      .button_purple {
        svg {
          height: 30px;
        }
      }
      .button {
        > p {
          font-size: 14px;
        }
      }
      svg {
        margin-bottom: 10 * $size-1024-1px;
        height: 28px;
      }
    }
  }
  section a {
    box-sizing: content-box;
    font-size: 14px;
    width: 100px;
    height: 28px;
  }
}

@media (max-width: 500px) {
  section.first_carousel {
    .wrapper {
      width: 95%;
      margin: 0 auto;
    }
    .carousel_button {
      margin-top: 20px;
      display: flex;
      gap: 18 * $size-430-1px;
      position: relative;
      bottom: auto;
      left: auto;
      justify-content: center;
    }
    &.first_carousel {
      > div.gray_section {
        display: none;
      }

      .first_swiper .text_box {
        width: 40%;
        left: 50px;
      }
    }
  }

  div.contact {
    .wrap {
      right: 28px;
      bottom: 50px;
    }
    .chatbox {
      width: 120px;
    }
  }
}

@include mobile {
  section.content_first {
    img {
      width: 100%;
      content: url("../img/main_mobile.jpg");
    }
  }
  section.first_carousel {
    &.first_carousel {
      height: 1000px;
      position: relative;
      .swiper-slide {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
      }
      .main_text {
        font-size: 28px;
        margin-bottom: 20 * $size-430-1px;
      }
      .first_swiper img {
        width: 390 * $size-430-1px;
        height: 520 * $size-430-1px;
        object-fit: cover;
        border-radius: 40px;
      }
      .first_swiper .text_box {
        box-sizing: border-box;
        width: 88%;
        max-width: none;
        height: 420px;
        left: 20px;
        bottom: 140px;
        .text_box_description {
          > p:nth-child(1) {
            font-size: 24px;
            margin-bottom: 20px;
          }
          p:nth-child(2) {
            font-size: 16px;
            line-height: 1.8;
            max-height: none;
          }
        }
      }
    }
    .carousel_button {
      margin-top: 0;
      display: flex;
      gap: 18 * $size-430-1px;
      position: relative;
      bottom: 100px;
      left: auto;
      justify-content: center;
    }
  }
}
