@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/base";
@import "base/fonts";

$Main_1: #ff9213;
$Main_2: #76c043;
$Main_3: #00a9de;
$Main_4: #454ace;

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}

section.first_carousel {
  font-family: $my-font;
  height: 870 * $size-1920-1px;

  .wrapper {
    width: 80%;
    margin: 0 auto;
  }

  .main_text {
    padding-top: 0;
    font-size: 48 * $size-1920-1px;
  }

  &.first_carousel {
    position: relative;

    > div.gray_section {
      position: absolute;
      top: 22%;
      width: 100%;
      height: 600 * $size-1920-1px;
      background: #ebefef;
      z-index: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      font-size: 18px;
      // background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .first_swiper .text_box {
      width: 466 * $size-1920-1px;
      height: 360 * $size-1920-1px;
      position: relative;
      left: 200px;
      background-color: #fff;

      border-radius: 20px;
      border: 1px solid #ddd;
      padding: 40px;

      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);

      .text_box_description {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;

        > p:nth-child(1) {
          font-size: 32 * $size-1920-1px;
        }

        p:nth-child(2) {
          font-size: 20 * $size-1920-1px;
          font-weight: 400;
          line-height: 1.5;
        }
        a {
          width: 140 * $size-1920-1px;
          height: 40 * $size-1920-1px;
          align-self: flex-end;

          &.gold {
            @include set-button-color($Main_1);
          }

          &.green {
            @include set-button-color($Main_2);
          }

          &.skyblue {
            @include set-button-color($Main_3);
          }

          &.navy {
            @include set-button-color($Main_4);
          }

          &.purple {
            @include set-button-color($Main_5);
          }

          p {
            font-size: 20 * $size-1920-1px;
          }
        }
      }
    }

    .first_swiper img {
      width: 955 * $size-1920-1px;
      height: 620 * $size-1920-1px;
      object-fit: cover;
      border-radius: 40px;
    }
  }
}
