<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대구자립지원전담기관_상담조회</title>
    <link rel="stylesheet" href="../css/counselor.css" />
</head>

<body>
    <div class="wrapper">
        <h2>상담조회</h2>
        <table>
            <tr class="table_tr">
                <td>신청자명</td>
                <td>문의유형</td>
                <td>문의시간</td>
            </tr>
            <tr>
                <td id="Inquirer_name">
                    <%= data.Inquirer_name %>
                </td>
                <td id="Inquiry_type">
                    <%= data.Inquiry_type %>
                </td>
                <td id="Inquiry_time">
                    <% const date=new Date(data.Inquiry_time); const year=date.getFullYear(); const
                        month=String(date.getMonth() + 1).padStart(2, '0' ); const
                        day=String(date.getDate()).padStart(2, '0' ); const
                        hours=String(date.getHours()).padStart(2, '0' ); const
                        minutes=String(date.getMinutes()).padStart(2, '0' ); const
                        seconds=String(date.getSeconds()).padStart(2, '0' ); %>
                        <%- `${year}.${month}.${day}<br>${hours}:${minutes}:${seconds}` %>
                </td>
            </tr>
        </table>
        <form id="form">
            <div class="box">
                <h4 class="q">문의내용</h4>
                <textarea id="inquiry_details" class="form_detail" name="form_detail" rows="8"
                    readonly><%= data.inquiry_details %></textarea>
            </div>
        </form>

        <h2>조치내용</h2>
        <form id="counselingForm">
            <div class="box_s">
                <div class="box_s_wrapper">
                    <h4 class="content">상담내용</h4>
                    <div class="input_box">
                        <label><input type="radio" name="counselingType" value="전화상담" required>전화상담</label>
                        <label><input type="radio" name="counselingType" value="방문상담" required>방문상담</label>
                    </div>
                </div>
                <div class="after">
                    <textarea id="counselingDetails" class="counselingDetails" name="counselingDetails" rows="8"
                        required></textarea>
                </div>
            </div>

            <!-- Checkbox -->
            <label><input class="check" type="checkbox" id="double_check" required>작성을 완료하였습니다.</label>

            <!-- Submit Button -->
            <button id="agree_button" type="submit">상담완료</button>
        </form>
    </div>


</body>

</html>